booking.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.com/appointments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="appointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="appointment" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="customerId"/>
              <xs:element type="xs:string" name="serviceId"/>
              <xs:element type="xs:date" name="appointmentDate"/>
              <xs:element type="xs:string" name="appointmentTime"/>
              <xs:element type="xs:string" name="status"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>